<div class="jumbotron col-md-12">
	<div class="panel panel-primary">
		<div class="panel-heading">
			Equipment {{equipment.identificationNumber}}
		</div>
		<div class="panel-body">
			<div>
				<div class="severity-labels">
					<span class="label label-danger">{{equipment.severity_2}}</span>
					<span class="label label-warning">{{equipment.severity_1}}</span>
					<span class="label label-info">{{equipment.severity_0}}</span>
				</div>

				<dl class="dl-horizontal">
					<dt>Model</dt>
					<dd>{{brand.name}} {{model.name}}</dd>

					<dt>Id</dt>
					<dd>{{equipment.identificationNumber}}</dd>

					<dt>Description</dt>
					<dd>{{equipment.description}}</dd>

					<dt>Service level</dt>
					<dd>{{equipment.serviceLevel}}</dd>

					<dt>Contact</dt>
					<dd>No contact</dd>

					<dt>Owner</dt>
					<dd>{{owner.name}}</dd>
				</dl>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			Last geo positions
		</div>
		<div class="panel-body">
			<ui-gmap-google-map center='map.center' zoom='map.zoom'>
				<ui-gmap-polygon static="true" ng-repeat="p in polygons track by p.id" path="p.path" stroke="p.stroke" visible="p.visible"
                 geodesic="p.geodesic" fill="p.fill" fit="false" editable="p.editable" draggable="p.draggable">
                 </ui-gmap-polygon>
				<ui-gmap-markers models="markers" coords="'coords'" options="'options'" icon="'icon'" doRebuildAll="markers">
				</ui-gmap-markers>
	</ui-gmap-google-map>
</div>
</div>
</div>
