<div class="jumbotron">
  <div class="panel panel-primary">
    <div class="panel-heading">
    Equipments
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead class="thead-inverse">
          <td>Severity</td>
          <td>Equipament</td>
          <td>Service Level</td>
          <td>Hours</td>
          <td>Status</td>
          <td>Owner</td> 
        </thead>
        <tbody>
          <tr ng-repeat="equipment in equipments">
            <td class="col-md-2">
              <span class="label label-danger">{{equipment.severity_2}}</span>
              <span class="label label-warning">{{equipment.severity_1}}</span>
              <span class="label label-info">{{equipment.severity_0}}</span>
            </td>
            <td><a href="#/equipment/{{equipment.id}}">{{equipment.description}}</a> <br/>
             {{equipment.identificationNumber}}
           </td>
           <td>{{equipment.serviceLevel}}</td>
           <td>{{equipment.engineHours}}</td>
           <td>No Contact</td>
           <td>{{equipment.owner_name}}</td>
         </tr>
       </tbody>
     </table>
   </div>
</div>
</div>
