<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{name}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="fuseTestApp">
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/">Dealearship Demo</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div ng-view></div>
    </div>

     <script>
       window.FUSE_TRACKERS_URL = '{{FUSE_TRACKERS_URL}}';
       window.FUSE_EQUIPMENT_API_URL = '{{FUSE_EQUIPMENT_API_URL}}';
       window.BEARER_TOKEN = '{{BEARER_TOKEN}}';
    </script>

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/services/apiservice.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/equipment.js"></script>
  </body>
</html>
