<div class="panel panel-primary">
  <div class="panel-heading">
    Equipment {{equipment.identificationNumber}}
  </div>
  <div class="panel-body">
    <div>
      <div class="severity-labels">
        <span class="label label-danger">{{equipment.severity_2}}</span>
        <span class="label label-warning">{{equipment.severity_1}}</span>
        <span class="label label-info">{{equipment.severity_0}}</span>
      </div>

      <dl class="dl-horizontal">
        <dt>Model</dt>
        <dd>{{ equipment.relationships.model.data.id }}</dd>

        <dt>Id</dt>
        <dd>{{ equipment.attributes.identificationNumber }}</dd>

        <dt>Description</dt>
        <dd>{{ equipment.attributes.description }}</dd>

        <dt>Service level</dt>
        <dd>{{ equipment.attributes.serviceLevel }}</dd>

        <dt>Owner</dt>
        <dd>N/A</dd>

        <dt>Dealer</dt>
        <dd>{{ equipment.relationships.dealer.data.id }}</dd>

        <dt>Engine hours</dt>
        <dd>{{ equipment.attributes.trackingData.ENGINE_HOURS }} hours</dd>
      </dl>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    Last geo positions
  </div>
  <div class="panel-body">
    <div>
      <dl class="dl-horizontal">
        <dt>Coordinate</dt>
        <dd>{{ equipment.attributes.trackingPoint.location.coordinates }}</dd>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    CAN variables
  </div>
  <div class="panel-body">
    <div>
      <dl class="dl-horizontal" ng-repeat="(canVariable, value) in
        equipment.attributes.trackingData">
        <dt>{{canVariable}} </dt>
        <dd>{{value}}</dd>
      </div>
    </div>
  </div>
</div>
