<div class="panel panel-primary">
  <div class="panel-heading">
    Equipment
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead class="thead-inverse">
        <td>Equipment</td>
        <td>Service Level</td>
        <td>Engine Hours</td>
        <td>Status</td>
        <td>Owner</td>
        <td>Dealer</td>
      </thead>
      <tbody>
        <tr ng-repeat="equipment in equipment">
          <td><a href="#/equipment/{{ equipment.id }}">{{ equipment.attributes.description }}</a> <br/>
            {{ equipment.attributes.identificationNumber }}
          </td>
          <td>{{ equipment.attributes.serviceLevel }}</td>
          <td>{{ equipment.attributes.trackingData.ENGINE_HOURS }}</td>
          <td>{{ equipment.attributes.status }}</td>
          <td>N/A</td>
          <td>{{ equipment.relationships.dealer.data.id }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
